@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
  
  // Default to light mode, will be overridden by ThemeService
  color-scheme: light;
  
  // Support dark mode
  &.dark-theme {
    color-scheme: dark;
  }
  
  &.light-theme {
    color-scheme: light;
  }
}
