@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 300;
  src:
    local('Material Icons Outlined'),
    local('MaterialIconsOutlined-Light'),
    url('/assets/fonts/MaterialIconsOutlined-Light.woff2') format('woff2');
  font-display: fallback;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-size: var(--mdc-icon-button-icon-size);
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
