:host {
  display: block;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.palette-section {
  width: 25%;
  min-width: 250px;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.preview-section {
  flex: 1;
  height: calc(100vh - 56px);
}

.preview-fullwidth {
  width: 100%;
}

.properties-section {
  width: 25%;
  min-width: 250px;
  height: calc(100vh - 56px);
  overflow-y: auto;
}
