:host {
  display: block;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}

.palette-section {
  width: 25%;
  min-width: 250px;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.preview-section {
  flex: 1;
  height: calc(100vh - 56px);
  position: relative;

  .app-background {
    position: absolute;
    inset: 0;
    opacity: 0.05;
    pointer-events: none;
    background-image:
      linear-gradient(var(--mat-sys-on-secondary-fixed) 1px, transparent 1px),
      linear-gradient(90deg, var(--mat-sys-on-secondary-fixed) 1px, transparent 1px);
    background-size: 60px 60px;
    z-index: -1;
  }
}

.preview-fullWidth {
  width: 100%;
}

.properties-section {
  position: relative;
  width: 25%;
  min-width: 250px;
  height: calc(100vh - 56px);
  overflow-y: auto;
}
