:host {
  display: block;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e0e0e0;
}

.h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.border-bottom {
  border-bottom: 1px solid #e0e0e0;
}

.main-content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.palette-section {
  width: 25%;
  min-width: 250px;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.preview-section {
  flex: 1;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.properties-section {
  width: 25%;
  min-width: 250px;
  height: calc(100vh - 80px);
  overflow-y: auto;
}
